// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.overlap-group {
    height: 420px;
    margin-left: 0.5px;
}
.cover {
    height: 309px;
    left: 0;
    position: absolute;
    top: 111px;
    width: 375px;
}
.rectangle-3 {
    height: 233px;
    left: 0;
    position: absolute;
    top: 0;
    width: 375px;
}

.navigation-bar {
    /* Navigation Bar */

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;

    position: absolute;
    width: 375px;
    height: 112px;
    left: 0px;
    top: 0px;

    /* Gradient */

    background: linear-gradient(244.58deg, #da3675 0%, #2047ff 100%);
}

.voterookie-logo {
    align-self: center;
    height: 48px;
    object-fit: cover;
    width: 130px;
}
.voterookie-1 {
    /* voterookie 1 */
    height: 100px;
    width: 192px;
    position: absolute;
    left: 90px;
    top: 218px;
}
.flex-row {
    align-items: center;
    display: flex;
    height: 64px;
    margin-right: 8px;
    min-width: 299px;
}

.rectangle-4 {
    /* Rectangle 4 */

    position: absolute;
    width: 5px;
    height: 62px;
    left: 34px;
    top: 422px;

    /* Rookie Pink */

    background: #da3675;
}

.rectangle-30 {
    position: absolute;
    width: 375px;
    height: 374px;
    left: 0px;
    top: 0px;

    /* Gradient */

    background: linear-gradient(244.58deg, #da3675 0%, #2047ff 100%);
}

.ractangle-300 {
    /* Gradient */

    background: linear-gradient(244.58deg, #da3675 0%, #2047ff 100%);
}

.progress-bar-on {
    display: flex;
    /* Progress Bar */

    /* Auto Layout */

    flex-direction: column;
    align-items: flex-end;
    padding: 4px;

    position: absolute;
    width: 350px;
    height: 41px;
    left: 12.5px;
    top: 124.41px;
    /* Rookie Blue */

    border: 1px solid #2047ff;
    box-sizing: border-box;
    border-radius: 100px;
}
